<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Audio Embedder | Never Again!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/">Never Again!</a>
        <ul class="nav">
            <li><a href="/table-builder"><i class="icon-list-alt"></i> Table Builder</a></li>
            <li><a href="/document-embed"><i class="icon-file"></i> Document Embedder</a></li>
            <li class="active"><a href="/audio-embed"><i class="icon-music"></i> Audio Embedder</a></li>
            <li><a href="/map-builder"><i class="icon-flag"></i> Map Builder</a></li>
        </ul>
    </div>
    </div>
</div>

<div class="container">

<p class="lead">Embedding Audio, as Easy as it Sounds</p>

<p>Use this form to prepare audio embeds in the way the Texas Tribune CMS expects them. Just put the URL of the audio file in the input box, hit "Process!" and grab the embed code below.</p>

</div>

<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/audio-embed.js') }}"></script>
</body>
</html>
