<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Never Again!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/">Never Again!</a>
        <ul class="nav">
            <li><a href="/table-builder"><i class="icon-list-alt"></i> Table Builder</a></li>
            <li><a href="/document-embed"><i class="icon-file"></i> Document Embedder</a></li>
            <li><a href="/map-builder"><i class="icon-flag"></i> Map Builder</a></li>
        </ul>
    </div>
    </div>
</div>

<div class="container">

<h3>What would you like to do today?</h3>

<p class="lead">Make your selection:</p>

<div class="row">
<div class="span4">
    <p class="text-center"><a href="/table-builder"><button class="btn btn-large" type="button">Build a table</button></a></p>
</div>

<div class="span4">
    <p class="text-center"><a href="/document-embed"><button class="btn btn-large" type="button">Prepare a document embed</button></a></p>
</div>

<div class="span4">
    <p class="text-center"><a href="/map-builder"><button class="btn btn-large" type="button">Build a map</button></a></p>
</div>

</div>

<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
