<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Map Builder | Never Again!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/">Never Again!</a>
        <ul class="nav">
            <li><a href="/table-builder"><i class="icon-list-alt"></i> Table Builder</a></li>
            <li><a href="/document-embed"><i class="icon-file"></i> Document Embedder</a></li>
            <li><a href="/audio-embed"><i class="icon-music"></i> Audio Embedder</a></li>
            <li class="active"><a href="/map-builder"><i class="icon-flag"></i> Map Builder</a></li>
        </ul>
    </div>
    </div>
</div>

<div class="container">

<p class="lead">So you wanna make a map, huh?</p>

<p>That's awesome. Use this tool to prepare lightweight, simple map embeds for your story. For the sake of simplicity, these maps <strong>will not be interactive</strong> at this time. Use these maps as extra color for your stories, or to highlight shifts in locale within the text.</p>

<p>Work in progress...</p>

</div>

<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/map-builder.js') }}"></script>
</body>
</html>
